<!DOCTYPE html>
<html>

<head>
    <title>JumpStart</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/genres.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/ajax.js') }}"></script> -->

</head>

<body>
    <h1>JumpStart</h1>
    <ul>
        {% for genre in genres_type %}
        <label>
            {{genre}}
            <input type="checkbox" name="{{ genre }}" id="{{ genre }}" class="genre_type" value="{{ genre }}">
        </label>
        <!-- <button>{{ genre }}</button> -->
        {% endfor %}
    </ul>
    <!-- <form method="get" action="/home"> -->
    <button id="myButton">Submit</button>

</body>

<script>
    // Attach a click event listener to the button
    document.getElementById("myButton").addEventListener("click", function () {
        // Make an AJAX GET request to the backend endpoint
        // var checkboxes = document.querySelectorAll('.genre_type[type="checkbox"]:checked');

        console.log($(".genre_type:checkbox").filter(":checked"))

        var data = [];
        $('input.genre_type:checkbox:checked').each(function () {
            arr.push(this.value);
            console.log(this.value);
        });

        // var data = []
        // checkboxes.forEach(function (checkbox) {
        //     console.log(checkbox.value);
        //     data.push(checkbox.value)
        // });
        console.log(data);

        $.ajax({
            url: "/home",
            type: "POST",
            data: data,
            success: function (response) {
                // Handle the response from the backend
                console.log(response);
                // Perform any further actions as needed
            },
            error: function (xhr, status, error) {
                // Handle any errors that occur during the request
                console.log(error);
            }
        });
    });
</script>

</html>